body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #ff9900;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    padding: 5px;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

main {
    flex-grow: 1;
    padding: 20px;
    margin-left: 300px;
}

header {
    background-color: #ff9900;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    margin: 0;
    color: #333;
}

.input-field {
    display: block;
    width: 35%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.button {
    background-color: #FFA500;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e59400;
}

a.lernmaterial {
    color: #FFA500;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #FFA500;
    transition: color 0.3s;
}

a.lernmaterial:hover {
    color: #FF4500;
    border-color: #FF4500;
}